<!DOCTYPE html>
<html>
  <head>
    <title>LinkBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/flash" %>
    <div class="container">
      <div class="my-nav">
        <h1>Hacker News</h1>

        <% if not @current_user %>
          <a href="/login">login</a>
          <a href="/signup">signup</a>

        <% else %>
          <a href="/posts/new">submit</a>
          <%= link_to "logout", "/logout", method: :delete, class: "login" %>
          <a class="login" href="/profile">profile</a>
        <% end %>
        <a href="/">Home</a> 
      </div>
    </div>
    <%= yield %>
  </body>
</html>
